<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>imsad.io</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/home_style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <div class="center">
      <h1 class="mainTitle">imsad<span id="period">.</span>io</h1>
      <h2 class="subtitle">how sad are you?</h2>
      <a class="button" href="/cheerup">a little bummed</a>
      <a class="button" href="/cheerup">sad</a>
      <a class="button" href="/cheerup">distraught</a>
  </body>
</html>